Una funcion caulquiera

def nombre_funcion(argumentos):

     return algo

Funciones anonimas o lambda functions son funciones mas simples

lambda argumentos: algo

In [1]:
lambda nombre: f'Hola {nombre}'

In [2]:
lambda_saludar = lambda nombre: f'Hola {nombre}'

In [3]:
resultado = lambda_saludar('Zahid')

In [4]:
print(resultado)

Hola Zahid

In [5]:
def funcion_saludar(nombre):
    return f'Hola {nombre}'

In [7]:
resultado = funcion_saludar('Zahid')
print(resultado)

Hola Zahid

In [8]:
lambda_saludar

In [9]:
funcion_saludar

Que puedo hacer en una lambda que tambien podria en una tradicional

* Keywords SI
* *Args SI
* **Kwargs SI
* Returns multiples SI
* Print
* Regresar otra funcion
* Probablemente si usar lambda dentro de una funcion

In [10]:
lambda_saludar_completo = lambda nombre, apellido: f'Hola {nombre} {apellido}'
resultado = lambda_saludar_completo('Zahid', 'Sanchez')
print(resultado)

Hola Zahid Sanchez

In [11]:
lambda_saludar_completo = lambda nombre, apellido = '': f'Hola {nombre} {apellido}'
resultado = lambda_saludar_completo('Zahid')
print(resultado)

Hola Zahid

In [12]:
print(None)

None

In [13]:
print('')

In [14]:
None is None

True

In [15]:
'' is None

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\zahid\AppData\Local\Temp\ipykernel_17328\1115366061.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  '' is None

False

In [16]:
type(None)

NoneType

In [17]:
type('')

str

In [18]:
lambda_saludar_completo = lambda nombre, apellido = '': f'Hola {nombre} {apellido}'
resultado = lambda_saludar_completo(apellido = 'Sanchez', nombre = 'Zahid')
print(resultado)

Hola Zahid Sanchez

In [24]:
lambda_saludar_completo = lambda nombre, *args, apellido = '': f'Hola {nombre} {apellido}\nAqui te va una tupla {args}'
resultado = lambda_saludar_completo('Zahid', 'objeto1', 'objeto2', apellido = 'Sanchez')
print(resultado)

Hola Zahid Sanchez
Aqui te va una tupla ('objeto1', 'objeto2')

In [35]:
lambda_saludar_completo = lambda nombre, *args, apellido = '', **kwargs: f'Hola {nombre} {apellido}\nAqui te va una tupla {args}\nAqui te va un diccionario {kwargs}'
resultado = lambda_saludar_completo('Zahid', 'objeto1', 'objeto2', apellido = 'Sanchez', llave1 = 'valor1', llave2 = 'valor2')
print(resultado)

Hola Zahid Sanchez
Aqui te va una tupla ('objeto1', 'objeto2')
Aqui te va un diccionario {'llave1': 'valor1', 'llave2': 'valor2'}

In [32]:
lambda_operar = lambda valor1, valor2: (valor1 + valor2, valor1*valor2)
resultado_suma, resultado_producto = lambda_operar(4, 5)
print(resultado_suma, resultado_producto)

9 20

Que puedo hacer en una lambda que tambien podria en una tradicional

* Keywords SI
* *Args SI
* **Kwargs SI
* Returns multiples SI
* Print SI
* Regresar otra funcion SI
* Probablemente si usar lambda dentro de una funcion

In [37]:
saludar_print = lambda nombre: print(f'Hola {nombre}')

resultado = saludar_print('Zahid')
print(resultado)

Hola Zahid
None

In [38]:
resultado = print('Hola')

Hola

In [39]:
print(resultado)

None

In [40]:
def repetir2_veces(palabra):
    return palabra*2

In [41]:
lambda_usar_funcion = lambda palabra: repetir2_veces(palabra)

resultado = lambda_usar_funcion('Zahid')
print(resultado)

ZahidZahid

In [42]:
def sumar_numeros(numero1, numero2):
    return numero1 + numero2

In [44]:
sumar_numeros(2,5)

7

In [45]:
fijar_izquierda = lambda numero1: lambda numero2: sumar_numeros(numero1, numero2)

In [46]:
sumar4 = fijar_izquierda(4) # lambda numero2: sumar_numeros(4, numero2)

In [48]:
sumar4

In [47]:
sumar4(19) #sumar_numeros(4, 19) = 23

23

In [50]:
def fijar_numero_funcion(numero1):
    return lambda numero2: numero1 + numero2

In [51]:
sumar8 = fijar_numero_funcion(8) # return lambda numero2: 8 + numero2

In [52]:
sumar8

In [53]:
sumar8(5)

13

In [55]:
lista_frases = """Padecieron un aumento de la presión arterial 20 o 30 personas
Entre 20 y 30 personas padecieron un aumento de la presión arterial
De 20 a 30 personas padecieron un aumento de la presión arterial""".split('\n')

In [56]:
lista_frases

['Padecieron un aumento de la presión arterial 20 o 30 personas',
 'Entre 20 y 30 personas padecieron un aumento de la presión arterial',
 'De 20 a 30 personas padecieron un aumento de la presión arterial']

In [57]:
import re

In [62]:
for renglon in lista_frases:
    print(re.findall(r'\d+', renglon))

['20', '30']
['20', '30']
['20', '30']

In [63]:
numeros_renglon = [re.findall(r'\d+', renglon) for renglon in lista_frases]

In [64]:
numeros_renglon

[['20', '30'], ['20', '30'], ['20', '30']]

In [65]:
extraer_numeros_lambda = lambda renglon: re.findall(r'\d+', renglon)

In [66]:
primer_renglon = lista_frases[0]
primer_renglon

'Padecieron un aumento de la presión arterial 20 o 30 personas'

In [67]:
extraer_numeros_lambda(primer_renglon)

['20', '30']

In [68]:
numeros_renglon = map(lambda renglon: re.findall(r'\d+', renglon), lista_frases)

In [73]:
next(numeros_renglon)

StopIteration:

In [80]:
numero = 7

if numero % 2:
    print('Impar')
else:
    print('Par')

Impar

In [81]:
bool(0)

False

In [82]:
bool(1)

True

In [85]:
numero = 7

if numero % 2 != 0:
    print('Impar')
else:
    print('Par')

Impar

In [87]:
validar_pares = lambda numero: 'Par' if numero % 2 == 0 else 'Impar'

In [88]:
validar_pares(8)

'Par'

In [89]:
validar_pares(7)

'Impar'

In [90]:
validar_pares(0)

'Par'

In [92]:
validar_numeros = lambda numero: 'Par' if numero % 2 == 0\
                    else 'Multiplo 3' if numero % 3 == 0\
                    else 'otro'

In [93]:
validar_numeros(8)

'Par'

In [94]:
validar_numeros(27)

'Multiplo 3'

In [95]:
validar_numeros(25)

'otro'

In [96]:
validar_booleano_par = lambda numero: True if numero % 2 == 0 else False

In [100]:
validar_booleano_par = lambda numero: numero % 2 == 0

In [101]:
validar_booleano_par(8)

True

In [102]:
validar_booleano_par(7)

False

---

In [106]:
import pandas as pd
import random

In [104]:
df = pd.DataFrame()

In [107]:
df['numeros'] = [random.random() for _ in range(10)]

In [109]:
df.head(10)

    numeros
0  0.970187
1  0.999580
2  0.962457
3  0.482210
4  0.896633
5  0.254105
6  0.621072
7  0.338701
8  0.692115
9  0.533987

In [114]:
df.insert(0, 'columna_nueva', 0.432432)

In [115]:
df.head()

   columna_nueva   numeros
0       0.432432  0.970187
1       0.432432  0.999580
2       0.432432  0.962457
3       0.432432  0.482210
4       0.432432  0.896633

In [116]:
df['numeros']

0    0.970187
1    0.999580
2    0.962457
3    0.482210
4    0.896633
5    0.254105
6    0.621072
7    0.338701
8    0.692115
9    0.533987
Name: numeros, dtype: float64

In [119]:
df.drop(columns = ['columna_nueva'], inplace = True)

In [120]:
df

    numeros
0  0.970187
1  0.999580
2  0.962457
3  0.482210
4  0.896633
5  0.254105
6  0.621072
7  0.338701
8  0.692115
9  0.533987

In [122]:
df['numeros'].apply(lambda numero: round(numero))

0    1
1    1
2    1
3    0
4    1
5    0
6    1
7    0
8    1
9    1
Name: numeros, dtype: int64

In [130]:
df['numeros']

0    0.970187
1    0.999580
2    0.962457
3    0.482210
4    0.896633
5    0.254105
6    0.621072
7    0.338701
8    0.692115
9    0.533987
Name: numeros, dtype: float64

In [131]:
df['solucion1'] = df['numeros'].apply(lambda numero: numero - 0.1)

In [132]:
df['solucion2'] = df['numeros'] - 0.1

In [133]:
df.head()

    numeros  solucion1  solucion2
0  0.970187   0.870187   0.870187
1  0.999580   0.899580   0.899580
2  0.962457   0.862457   0.862457
3  0.482210   0.382210   0.382210
4  0.896633   0.796633   0.796633

In [123]:
def aplicar_funcion_interable(iterable, funcion):
    for item in iterable:
        print(funcion(item))

In [124]:
lista = [0,1,2,3,4,5,6]

In [126]:
aplicar_funcion_interable(lista, lambda numero: numero**2)

0
1
4
9
16
25
36

In [127]:
aplicar_funcion_interable(lista, lambda numero: numero**3)

0
1
8
27
64
125
216

In [128]:
aplicar_funcion_interable(lista, lambda numero: numero**2 if numero%2 ==0 else numero**3)

0
1
4
27
16
125
36

---

In [134]:
def potencia_fija(valor_potencia):
    return lambda numero: numero**valor_potencia

In [135]:
elevar5 = potencia_fija(5)

In [136]:
elevar5

In [137]:
elevar5(1)

1

In [139]:
elevar5(2)

32

In [140]:
2**5

32

In [141]:
3**5

243

In [142]:
elevar5(3)

243

In [145]:
def elevar_numero(numero, valor_potencia):
    return numero**valor_potencia

In [148]:
apellidos = '''margain
navarro
serrano
valdes
ortiz
leon
caballero
alcantara
rios
gonzalez
landivar'''.split('\n')

In [149]:
apellidos

['margain',
 'navarro',
 'serrano',
 'valdes',
 'ortiz',
 'leon',
 'caballero',
 'alcantara',
 'rios',
 'gonzalez',
 'landivar']

In [150]:
sorted(apellidos)

['alcantara',
 'caballero',
 'gonzalez',
 'landivar',
 'leon',
 'margain',
 'navarro',
 'ortiz',
 'rios',
 'serrano',
 'valdes']

In [152]:
apellidos[-1]

'landivar'

In [151]:
sorted(apellidos[-1])

['a', 'a', 'd', 'i', 'l', 'n', 'r', 'v']

In [153]:
prueba = lambda palabra: palabra[-1]
for elemento in apellidos:
    print(prueba(elemento))

n
o
o
s
z
n
o
a
s
z
r

In [157]:
lista_orden_raro = sorted(apellidos, key = lambda palabra: palabra[-1])
lista_orden_raro

['alcantara',
 'margain',
 'leon',
 'navarro',
 'serrano',
 'caballero',
 'landivar',
 'valdes',
 'rios',
 'ortiz',
 'gonzalez']

In [155]:
prueba = lambda palabra: palabra[-1]
for elemento in apellidos:
    print(f'{elemento} -> {prueba(elemento)}')

margain -> n
navarro -> o
serrano -> o
valdes -> s
ortiz -> z
leon -> n
caballero -> o
alcantara -> a
rios -> s
gonzalez -> z
landivar -> r

In [159]:
sorted(apellidos, reverse = True)

['valdes',
 'serrano',
 'rios',
 'ortiz',
 'navarro',
 'margain',
 'leon',
 'landivar',
 'gonzalez',
 'caballero',
 'alcantara']

In [161]:
sorted(apellidos, key = lambda palabra: palabra[-1], reverse = True)

['ortiz',
 'gonzalez',
 'valdes',
 'rios',
 'landivar',
 'navarro',
 'serrano',
 'caballero',
 'margain',
 'leon',
 'alcantara']

In [162]:
sorted(apellidos, key = lambda palabra: palabra[2])

['caballero',
 'alcantara',
 'valdes',
 'gonzalez',
 'landivar',
 'leon',
 'rios',
 'margain',
 'serrano',
 'ortiz',
 'navarro']

In [167]:
apellidos_puntos = [(apellido, random.randint(0,10)) for apellido in apellidos]

In [168]:
print(apellidos_puntos)

[('margain', 6), ('navarro', 5), ('serrano', 10), ('valdes', 2), ('ortiz', 4), ('leon', 2), ('caballero', 6), ('alcantara', 10), ('rios', 10), ('gonzalez', 3), ('landivar', 8)]

In [169]:
sorted(apellidos_puntos)

[('alcantara', 10),
 ('caballero', 6),
 ('gonzalez', 3),
 ('landivar', 8),
 ('leon', 2),
 ('margain', 6),
 ('navarro', 5),
 ('ortiz', 4),
 ('rios', 10),
 ('serrano', 10),
 ('valdes', 2)]

In [175]:
prueba = lambda tupla: tupla[1]
for elemento in apellidos_puntos:
    print(f'{elemento} -> {prueba(elemento)}')

('margain', 6) -> 6
('navarro', 5) -> 5
('serrano', 10) -> 10
('valdes', 2) -> 2
('ortiz', 4) -> 4
('leon', 2) -> 2
('caballero', 6) -> 6
('alcantara', 10) -> 10
('rios', 10) -> 10
('gonzalez', 3) -> 3
('landivar', 8) -> 8

In [173]:
apellidos_puntos[0]

('margain', 6)

In [170]:
sorted(apellidos_puntos, key = lambda tupla: tupla[1])

[('valdes', 2),
 ('leon', 2),
 ('gonzalez', 3),
 ('ortiz', 4),
 ('navarro', 5),
 ('margain', 6),
 ('caballero', 6),
 ('landivar', 8),
 ('serrano', 10),
 ('alcantara', 10),
 ('rios', 10)]

In [176]:
apellidos_puntos_dict = {apellido : random.randint(0,10) for apellido in apellidos}

In [177]:
apellidos_puntos_dict

{'margain': 6,
 'navarro': 3,
 'serrano': 6,
 'valdes': 1,
 'ortiz': 4,
 'leon': 9,
 'caballero': 7,
 'alcantara': 7,
 'rios': 3,
 'gonzalez': 6,
 'landivar': 0}

In [179]:
sorted(apellidos_puntos_dict)

['alcantara',
 'caballero',
 'gonzalez',
 'landivar',
 'leon',
 'margain',
 'navarro',
 'ortiz',
 'rios',
 'serrano',
 'valdes']

In [182]:
apellidos_puntos_dict

{'margain': 6,
 'navarro': 3,
 'serrano': 6,
 'valdes': 1,
 'ortiz': 4,
 'leon': 9,
 'caballero': 7,
 'alcantara': 7,
 'rios': 3,
 'gonzalez': 6,
 'landivar': 0}

In [181]:
sorted(apellidos_puntos_dict, key = lambda llave: apellidos_puntos_dict[llave])

['landivar',
 'valdes',
 'navarro',
 'rios',
 'ortiz',
 'margain',
 'serrano',
 'gonzalez',
 'caballero',
 'alcantara',
 'leon']