### Map

En palabras simples se encarga de aplicar una funcion a todos los elementos en un iterable

Lo anterior lo hace de forma optima y el calculo de la funcion se realiza hasta que yo
accedo al elemento

In [2]:
lista = list(range(15))
lista

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [11]:
lista_2 = map(lambda x: x + 2, lista)

In [12]:
lista_2

In [13]:
list(lista_2)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [14]:
for elemento in lista_2:
    print(elemento)

In [15]:
def cubo(numero):
    return numero ** 3

In [17]:
lista_cubos = map(cubo, lista)

In [18]:
list(lista_cubos)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744]

In [19]:
#[f(x) for x in lista] equivalente a list(map(f, lista))

In [20]:
lista_real_cubos = list(map(cubo,lista))

In [37]:
for el in lista_real_cubos:
    print(el)

0
1
8
27
64
125
216
343
512
729
1000
1331
1728
2197
2744

In [39]:
list(map(validar_par, lista))

['Par',
 'Impar',
 'Par',
 'Impar',
 'Par',
 'Impar',
 'Par',
 'Impar',
 'Par',
 'Impar',
 'Par',
 'Impar',
 'Par',
 'Impar',
 'Par']

In [40]:
lista

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [45]:
import random

In [46]:
lista2 = [random.randint(0,14) for _ in range(len(lista))]

In [47]:
lista2

[3, 9, 8, 9, 8, 14, 10, 10, 7, 9, 9, 5, 14, 10, 11]

In [48]:
list(map(lambda x, y: x + y, lista, lista2))

[3, 10, 10, 12, 12, 19, 16, 17, 15, 18, 19, 16, 26, 23, 25]

In [49]:
parejas = list(zip(lista, lista2))
parejas

[(0, 3),
 (1, 9),
 (2, 8),
 (3, 9),
 (4, 8),
 (5, 14),
 (6, 10),
 (7, 10),
 (8, 7),
 (9, 9),
 (10, 9),
 (11, 5),
 (12, 14),
 (13, 10),
 (14, 11)]

In [52]:
list(zip([0,1,2,3], [0,1,2,3,4,5,6]))

[(0, 0), (1, 1), (2, 2), (3, 3)]

In [53]:
import itertools

In [54]:
list(itertools.zip_longest([0,1,2,3], [0,1,2,3,4,5,6]))

[(0, 0), (1, 1), (2, 2), (3, 3), (None, 4), (None, 5), (None, 6)]

##### Map en pandas (apply)

In [55]:
import pandas as pd

In [57]:
df = pd.DataFrame()

In [59]:
valores = ['Masculino', 'Hombre', 'hombre', 'Masculino', 'M', 'm', 'M', 'mujer', 'Femenino', 'femenino', 'Femenino', 'F', 'f', 'f', 'Femenino']

In [60]:
df['sexo'] = valores

In [65]:
df.head(10)

        sexo
0  Masculino
1     Hombre
2     hombre
3  Masculino
4          M
5          m
6          M
7      mujer
8   Femenino
9   femenino

In [67]:
df.sexo.value_counts()

Femenino     3
Masculino    2
M            2
f            2
Hombre       1
hombre       1
m            1
mujer        1
femenino     1
F            1
Name: sexo, dtype: int64

In [71]:
df['sexo']

0     Masculino
1        Hombre
2        hombre
3     Masculino
4             M
5             m
6             M
7         mujer
8      Femenino
9      femenino
10     Femenino
11            F
12            f
13            f
14     Femenino
Name: sexo, dtype: object

In [72]:
df.sexo

0     Masculino
1        Hombre
2        hombre
3     Masculino
4             M
5             m
6             M
7         mujer
8      Femenino
9      femenino
10     Femenino
11            F
12            f
13            f
14     Femenino
Name: sexo, dtype: object

In [74]:
df.sexo.unique()

array(['Masculino', 'Hombre', 'hombre', 'M', 'm', 'mujer', 'Femenino',
       'femenino', 'F', 'f'], dtype=object)

In [75]:
## Todo lo que empieza con M

In [77]:
diccionario_cambios = {
    'Masculino' : 'Hombre',
    'hombre' : 'Hombre',
    'M' : 'Hombre',
    'm' : 'Hombre',
    'mujer' : 'Mujer',
    'Femenino' : 'Mujer',
    'femenino' : 'Mujer',
    'F' : 'Mujer',
    'f' : 'Mujer'
}

In [79]:
print(valores)

['Masculino', 'Hombre', 'hombre', 'Masculino', 'M', 'm', 'M', 'mujer', 'Femenino', 'femenino', 'Femenino', 'F', 'f', 'f', 'Femenino']

In [82]:
valores[2]

'hombre'

In [84]:
diccionario_cambios['hombre']

'Hombre'

In [88]:
diccionario_cambios.get('Hombre', 'Hombre')

'Hombre'

In [89]:
map_cambios = map(lambda x: diccionario_cambios.get(x,x), valores)

In [90]:
list(map_cambios)

['Hombre',
 'Hombre',
 'Hombre',
 'Hombre',
 'Hombre',
 'Hombre',
 'Hombre',
 'Mujer',
 'Mujer',
 'Mujer',
 'Mujer',
 'Mujer',
 'Mujer',
 'Mujer',
 'Mujer']

In [94]:
diccionario_cambios = {
    'masculino' : 'Hombre',
    'm' : 'Hombre',
    'femenino' : 'Mujer',
    'f' : 'Mujer'
}

In [97]:
map_cambios = map(lambda x: diccionario_cambios.get(x.lower(),x.capitalize()), valores)

In [106]:
df['sexo_limpio'] = df.sexo.apply(lambda x: diccionario_cambios.get(x.lower(),x.capitalize()))

In [107]:
df.head()

        sexo sexo_limpio
0  Masculino      Hombre
1     Hombre      Hombre
2     hombre      Hombre
3  Masculino      Hombre
4          M      Hombre

In [108]:
df.sexo_otro = df.sexo.apply(lambda x: diccionario_cambios.get(x.lower(),x.capitalize()))

C:\Users\zahid\AppData\Local\Temp\ipykernel_14392\1056808035.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.sexo_otro = df.sexo.apply(lambda x: diccionario_cambios.get(x.lower(),x.capitalize()))

In [109]:
df.head()

        sexo sexo_limpio
0  Masculino      Hombre
1     Hombre      Hombre
2     hombre      Hombre
3  Masculino      Hombre
4          M      Hombre

In [110]:
df.sexo_otro

0     Hombre
1     Hombre
2     Hombre
3     Hombre
4     Hombre
5     Hombre
6     Hombre
7      Mujer
8      Mujer
9      Mujer
10     Mujer
11     Mujer
12     Mujer
13     Mujer
14     Mujer
Name: sexo, dtype: object

### Filter

In [111]:
lista

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [113]:
def validar_par_boolean(numero):
    if numero % 2 == 0:
        return True
    else:
        return False

In [115]:
list(map(validar_par_boolean, lista))

[True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True]

In [116]:
list(filter(validar_par_boolean, lista))

[0, 2, 4, 6, 8, 10, 12, 14]

In [139]:
filtro_por2 = filter(lambda x: x+2, lista)

In [140]:
filtro_por2

In [141]:
lista

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [142]:
list(filtro_por2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

##### Filter en pandas (filtros)

In [146]:
df.sexo_limpio == 'Hombre'

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
Name: sexo_limpio, dtype: bool

In [148]:
df[df.sexo_limpio == 'Hombre']

        sexo sexo_limpio
0  Masculino      Hombre
1     Hombre      Hombre
2     hombre      Hombre
3  Masculino      Hombre
4          M      Hombre
5          m      Hombre
6          M      Hombre

In [151]:
df

         sexo sexo_limpio
0   Masculino      Hombre
1      Hombre      Hombre
2      hombre      Hombre
3   Masculino      Hombre
4           M      Hombre
5           m      Hombre
6           M      Hombre
7       mujer       Mujer
8    Femenino       Mujer
9    femenino       Mujer
10   Femenino       Mujer
11          F       Mujer
12          f       Mujer
13          f       Mujer
14   Femenino       Mujer

In [150]:
df.sexo.apply(lambda x: x.startswith('m'))

0     False
1     False
2     False
3     False
4     False
5      True
6     False
7      True
8     False
9     False
10    False
11    False
12    False
13    False
14    False
Name: sexo, dtype: bool

In [152]:
df[df.sexo.apply(lambda x: x.startswith('m'))]

    sexo sexo_limpio
5      m      Hombre
7  mujer       Mujer

In [161]:
filtros = [True, True, False, True, False, False, False, False, False, False, True, False, True, False, False]

In [162]:
df[filtros]

         sexo sexo_limpio
0   Masculino      Hombre
1      Hombre      Hombre
3   Masculino      Hombre
10   Femenino       Mujer
12          f       Mujer

In [155]:
df['sexo'].head()

0    Masculino
1       Hombre
2       hombre
3    Masculino
4            M
Name: sexo, dtype: object

In [156]:
type(df['sexo'])

pandas.core.series.Series

In [157]:
df[['sexo']].head()

        sexo
0  Masculino
1     Hombre
2     hombre
3  Masculino
4          M

In [158]:
type(df[['sexo']])

pandas.core.frame.DataFrame

In [163]:
lista_rara = [0, 1, 5, '', 'hola', []]

In [166]:
list(map(lambda x: bool(x), lista_rara))

[False, True, True, False, True, False]

In [165]:
list(filter(None, lista_rara))

[1, 5, 'hola']

### Reduce

In [167]:
from functools import reduce

5!

1 * 2 * 3 * 4 * 5

1 * 2 = 2

2 * 3 = 6

6 * 4 = 24

24 * 5 = 120

In [172]:
reduce(lambda x, y : x * y, [1, 2, 3, 4, 5])

120

In [173]:
reduce(lambda x, y : x * y if x < y else x-y, [1, 2, 3, 4, 5])

10

In [174]:
reduce(lambda x, y : f'{x} {y}', ['hola', 'como', 'estas'])

'hola como estas'

In [176]:
reduce(lambda x, y : f'{x} {y}', ['hola', 'como', 'estas'], 'Amigo,')

'Amigo, hola como estas'

In [177]:
' '.join(['hola', 'como', 'estas'])

'hola como estas'

In [178]:
[3, 2, 5, 143]

[3, 2, 5, 143]

In [186]:
reduce(lambda x, y: x.union({y}), [3, 2, 5, 143], set())

{2, 3, 5, 143}